{% block content %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/blog/edit_booking.css" />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
         rel="stylesheet"
      />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
         rel="stylesheet"
      />

      <title>Edit Booking Page</title>
   </head>
   <body>
      <div class="body">
         <nav>
            <div class="nav">
               <div class="nav-links">
                  <ul>
                     <li><a href="#">HOME</a></li>
                     <li><a href="#">BOOKING</a></li>
                     <li><a href="#">FEATURES</a></li>
                     <li><a href="#">ABOUT</a></li>
                     <li><a href="#">CONTACT</a></li>
                  </ul>
               </div>
               <div class="profile-link">
                  <div class="text">SIGN IN/SIGN UP</div>
                  <div class="images"><img src="/static/blog/images/user-icon.svg" alt="" /></div>
               </div>
            </div>
         </nav>

         <section class="section1 section">
            <div class="sec-title"><p>Upcoming Booking Details</p></div>
            <div class="section-content">
               <div class="section-content2">
                  <div class="name-type-container">
                     <p class="name-type">Reservation ID :</p>
                     <p class="name-type">Bus :</p>
                     <p class="name-type">Booked Seats :</p>
                     <p class="name-type">Starting Location :</p>
                     <p class="name-type">Destination Location :</p>
                     <p class="name-type">Departure Time :</p>
                  </div>
                  <div class="name-value-container">
                     <p class="name-value">4</p>
                     <p class="name-value">Meghna-132</p>
                     <p class="name-value">3</p>
                     <p class="name-value">Dhaka</p>
                     <p class="name-value">Chittagong</p>
                     <p class="name-value">23 August, 2021</p>
                  </div>
               </div>
            </div>
         </section>

         <section class="section2 section">
            <div class="sec-title"><p>Edit Booking Details</p></div>
            <div class="section-content">
               <div class="section-content2">
                  <div class="box-container-s2">
                     <div class="starting-loc"><label for="starting-loc-search">Starting Location : </label><input type="text" /></div>
                     <div class="destination-loc">
                        <label for="destination-loc-search">Destination Location : </label><input type="text" />
                     </div>
                     <div class="departure-time"><label for="departure-time">Departure Time : </label><input type="text" /></div>
                  </div>
               </div>
               <div class="button-update">
                  <a href="#">Update Changes</a>
               </div>
            </div>
         </section>

         <section class="section3 section">
            <div class="sec-title"><p>Cancel Booking</p></div>
            <div class="section-content">
               <div class="section-content2">
                  <div class="box-container-s2">
                     <p>Are you sure on cancelling the upcoming booking of yours?
                        You can’t undo after cancallation.</p>
                  </div>
                  <div class="button-update">
                     <a href="#">Cancel Booking</a>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </body>
</html>


{% endblock content %}
