[class*="fontawesome-"]:before {
    font-family: "FontAwesome", sans-serif;
  }
  
  body {
    width: 100%;
    font-family: "Raleway", sans-serif;
  }
  
  form#login-form {
  }
  
  form#login-form div.heading {
    background: #35065C;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.0em;
    font-size: 0.5em;
  }
  
  form#login-form div.left {
    width: 60%;
    float: left;
    padding: 1.5em 1.5em 1.5em 1.75em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  form#login-form div.right {
    width: 45%;
    float: right;
    padding: 1.7em 1.5em 1em 1.5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(https://images.unsplash.com/photo-1532939163844-547f958e91b4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyOTg5MTQyMA&ixlib=rb-1.2.1&q=80&w=400);
    width: 40%;
    height: 950px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  form#login-form:after {
    content: "";
    background: rgba(128, 128, 128, 0.3);
    height: 8em;
    width: 0.12em;
    top: -7em;
    left: 0.5em;
    z-index: 900;
    -webkit-box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
    box-shadow: 0 9.6em 0 0 rgba(128, 128, 128, 0.3);
  }
  
  div.left label {
    display: inline-block;
    color: gray;
    font-size: 0.6em;
    margin-top: 0.6em;
  }
  
  div.left input[type="email"],
  div.left input[type="password"],
  div.left input[type="card"]
  {
    display: inline-block;
    border: 0.1em solid #dfdfdf;
    padding: 5px;
    margin: 2px 0px;
    max-width: 100%;
    border-radius: 0.4em;
    -webkit-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
    box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
  }
  
  div.left input[type="email"]:focus,
  div.left input[type="password"]:focus {
    outline: none;
    border: 0.1em solid #919191;
  }
  
  div.left input[type="submit"] {
    background: #35065C;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    padding: 0.75em 0.75em 0.75em 0.75em;
    overflow: hidden;
    border: none;
    letter-spacing: 0.1em;
    margin: 0.5em 0em 5em;
    font-weight: bold;
    font-size: 0.6em;
    border-radius: 0.4em;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
  }
  
  div.left input[type="submit"]:hover {
    background: #dc3daa;
  }
  
  div.left div.connect {
    color: gray;
    font-size: 1.5em;
    text-align: center;
  }
  
  .payNow{
    background: white;
    color: #35065C;
    padding: 10%;
    margin: 15%;
    border-radius: 5%;
  }
  
  div.left a {
    display: inline-block;
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    width: 30%;
    padding: 60%;
    clear: both;
    text-align: left;
    margin: 0.5em 0.1em;
    border-radius: 0.8em;
  }
  
  div.left a.facebook {
    background: #35065C;
    font-size: 1em;
    padding: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
  }
  
  
  
  
  /* nav bar */
  .nav {
      color: #fff;
      font-family: "Amaranth", sans-serif;
      font-size: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2em 1.8em;
      flex-wrap: wrap;
   }
   
   .nav-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
   }
   
   .nav-links ul li {
      display: inline-block;
   }
   
   .nav-links ul li:hover{
   
      animation: hov 300ms ease forwards;
   }
   
   @keyframes hov {
      from{
         color: inherit;
         text-shadow: none;
      }
   
      to{
         color: #dc3daa;
      }
   }
   
   .nav-links ul li a {
      color: inherit;
      text-decoration: none;
   }
   
   .nav-links ul li:not(:first-child) {
      margin-left: 1.5em;
   }
   
   .profile-link p {
      margin: 0;
   }
   
   .profile-link {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
   }
   
   .profile-link:hover{
      animation: hov 300ms ease forwards;
   }