{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/blog/payment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<form action="#" id="login-form">
  <div class="heading">
      <nav>
            <div class="nav">
                <div class="nav-links">
                    <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">BOOKING</a></li>
                    <li><a href="#">FEATURES</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
                    <div class="profile-link">
                        <div class="text"></div>
                        <div class="images"><img src="images/user-icon.svg" alt="" /></div>
                    </div>
            </div>
        </nav>
  </div>
  <div class="left">
    
    
    <div class="connect"><b>PAYMENT</b></div>
    <a href="" class="facebook">
      <b>BOOKING DETAILS</b><br>
      <br>
      <li>TICKET: </li>
      <li>TOTAL: </li>
      <li>PICKUP LOCATION:  <t></li>
      <li>DESTINATION: </li>
      <li>DATE: </li>
      <div class = "payNow"> PLEASE PAY: </div>
    </a> <br />
   

    
      
    <label for="email">Email</label> <br />
    <input type="email" name="email" id="email" /> <br />
    <label for="password">Name</label> <br />
    <input type="password" name="password" id="pass" /> <br/>
    <label for="card">Card Number</label> <br />
    <input type="card" name="credit" id="card" /> <br/>
    <input type="submit" value="PAY" />
    
    
  </div>
  <div class="right">

  </div>
</form>


</body>
</html>


{% endblock content %}
